body {
    background: linear-gradient(to right, #004, #000);
    color: #0bb;
}

.linksStyle {
    text-decoration: none;
    color: #0af;
}
a{
    color: #aaf;
}
h2{
    color: #afa;
}

button{
    background: #0aa;
    color: #000;
}
a,span,p,label,input, button{
    margin-left: 20px;
}
hr{
    display: none;
    background: #0a0;
    color: #0a0;
    border: none;
    border-left: 10px solid #0f0;
    margin-left: 0;
    width: 600px;
    max-width: 90%;
    height: 4px;
}
.section{
    background: rgba(0, 0, 85, 0.5);
    -webkit-box-shadow: 0 0 5px 15px rgba(0,0,85,0.5);
    box-shadow: 0 0 5px 15px rgba(0,0,85,0.5);
    margin: 50px 0;
/*    width: 20%;*/
    min-width: 20%;
    max-width: 60%;
}